@import '@/styles/variables.scss';

.section {
	position: relative;
	width: 100%;
	height: 414px;
	z-index: 10;

	margin-top: -80px;

	background: url('../../../public/footerBg.png');
	background-size: cover;
	background-position: right top;
}

.section .inside {
	position: relative;
	width: 90%;
	height: 100%;
	max-width: 1280px;
	margin: 0 auto;

	padding-bottom: 40px;

	display: flex;
	align-items: flex-end;
	align-content: flex-end;
	justify-content: space-between;
}

.inside .left {
	position: relative;
	width: 100%;

	text-align: center;

	color: $color-white;
	font-family: $font2;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	text-shadow: rgba($color-brown, 1) 4px 0px 0px,
		rgba($color-brown, 1) 3.87565px 0.989616px 0px,
		rgba($color-brown, 1) 3.51033px 1.9177px 0px,
		rgba($color-brown, 1) 2.92676px 2.72656px 0px,
		rgba($color-brown, 1) 2.16121px 3.36588px 0px,
		rgba($color-brown, 1) 1.26129px 3.79594px 0px,
		rgba($color-brown, 1) 0.282949px 3.98998px 0px,
		rgba($color-brown, 1) -0.712984px 3.93594px 0px,
		rgba($color-brown, 1) -1.66459px 3.63719px 0px,
		rgba($color-brown, 1) -2.51269px 3.11229px 0px,
		rgba($color-brown, 1) -3.20457px 2.39389px 0px,
		rgba($color-brown, 1) -3.69721px 1.52664px 0px,
		rgba($color-brown, 1) -3.95997px 0.56448px 0px,
		rgba($color-brown, 1) -3.97652px -0.432781px 0px,
		rgba($color-brown, 1) -3.74583px -1.40313px 0px,
		rgba($color-brown, 1) -3.28224px -2.28625px 0px,
		rgba($color-brown, 1) -2.61457px -3.02721px 0px,
		rgba($color-brown, 1) -1.78435px -3.57996px 0px,
		rgba($color-brown, 1) -0.843183px -3.91012px 0px,
		rgba($color-brown, 1) 0.150409px -3.99717px 0px,
		rgba($color-brown, 1) 1.13465px -3.8357px 0px,
		rgba($color-brown, 1) 2.04834px -3.43574px 0px,
		rgba($color-brown, 1) 2.83468px -2.82216px 0px,
		rgba($color-brown, 1) 3.44477px -2.03312px 0px,
		rgba($color-brown, 1) 3.84068px -1.11766px 0px,
		rgba($color-brown, 1) 3.9978px -0.132717px 0px;
}

.inside .right {
	position: relative;

	display: flex;
	gap: 40px;
}

.inside .right .oneRight {
	position: relative;
	color: $color-white;
	font-family: $font2;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-shadow: rgba($color-brown, 1) 4px 0px 0px,
		rgba($color-brown, 1) 3.87565px 0.989616px 0px,
		rgba($color-brown, 1) 3.51033px 1.9177px 0px,
		rgba($color-brown, 1) 2.92676px 2.72656px 0px,
		rgba($color-brown, 1) 2.16121px 3.36588px 0px,
		rgba($color-brown, 1) 1.26129px 3.79594px 0px,
		rgba($color-brown, 1) 0.282949px 3.98998px 0px,
		rgba($color-brown, 1) -0.712984px 3.93594px 0px,
		rgba($color-brown, 1) -1.66459px 3.63719px 0px,
		rgba($color-brown, 1) -2.51269px 3.11229px 0px,
		rgba($color-brown, 1) -3.20457px 2.39389px 0px,
		rgba($color-brown, 1) -3.69721px 1.52664px 0px,
		rgba($color-brown, 1) -3.95997px 0.56448px 0px,
		rgba($color-brown, 1) -3.97652px -0.432781px 0px,
		rgba($color-brown, 1) -3.74583px -1.40313px 0px,
		rgba($color-brown, 1) -3.28224px -2.28625px 0px,
		rgba($color-brown, 1) -2.61457px -3.02721px 0px,
		rgba($color-brown, 1) -1.78435px -3.57996px 0px,
		rgba($color-brown, 1) -0.843183px -3.91012px 0px,
		rgba($color-brown, 1) 0.150409px -3.99717px 0px,
		rgba($color-brown, 1) 1.13465px -3.8357px 0px,
		rgba($color-brown, 1) 2.04834px -3.43574px 0px,
		rgba($color-brown, 1) 2.83468px -2.82216px 0px,
		rgba($color-brown, 1) 3.44477px -2.03312px 0px,
		rgba($color-brown, 1) 3.84068px -1.11766px 0px,
		rgba($color-brown, 1) 3.9978px -0.132717px 0px,
		-4px 4px 0px $color-brown;

	transition: opacity $animation1;
}

.inside .right .oneRight:hover {
	opacity: 0.8;
}

// RWD
@media (max-width: 1000px) {
	.section {
		margin-top: 0px;
	}
}

@media (max-width: 600px) {
	.section .inside {
		flex-wrap: wrap;
		justify-content: center;
	}

	.inside .left {
		width: 100%;
		text-align: center;
	}

	.inside .right {
		width: 100%;
		justify-content: center;
		margin-top: 12px;
	}
}
