@import '@/styles/variables.scss';

.section {
	position: relative;
	width: 100%;
	z-index: 7;

	padding-top: 180px;
}

.section .flowers {
	position: absolute;
	width: 100%;
	min-width: 1440px;
	height: 201px;

	left: 0px;
	top: 40px;

	background: url('../../../public/flowers2.png');
	background-size: 100% 100%;

	z-index: 1;
	pointer-events: none;
}

.section .inside {
	position: relative;
	width: 90%;
	max-width: 1040px;
	margin: 0 auto;
}

.inside .title {
	position: relative;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
	padding-top: 150px;

	color: $color-yellow;
	font-family: $font1;
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-shadow: rgba($color-brown, 1) 9px 0px 0px,
		rgba($color-brown, 1) 8.9445px 0.997944px 0px,
		rgba($color-brown, 1) 8.77869px 1.98358px 0px,
		rgba($color-brown, 1) 8.50461px 2.94475px 0px,
		rgba($color-brown, 1) 8.12565px 3.86961px 0px,
		rgba($color-brown, 1) 7.64647px 4.74674px 0px,
		rgba($color-brown, 1) 7.07299px 5.56533px 0px,
		rgba($color-brown, 1) 6.41227px 6.31528px 0px,
		rgba($color-brown, 1) 5.67248px 6.98735px 0px,
		rgba($color-brown, 1) 4.86272px 7.57324px 0px,
		rgba($color-brown, 1) 3.99299px 8.06573px 0px,
		rgba($color-brown, 1) 3.07402px 8.45875px 0px,
		rgba($color-brown, 1) 2.11714px 8.74744px 0px,
		rgba($color-brown, 1) 1.13414px 8.92825px 0px,
		rgba($color-brown, 1) 0.137162px 8.99895px 0px,
		rgba($color-brown, 1) -0.861512px 8.95867px 0px,
		rgba($color-brown, 1) -1.84956px 8.8079px 0px,
		rgba($color-brown, 1) -2.8148px 8.5485px 0px,
		rgba($color-brown, 1) -3.74532px 8.18368px 0px,
		rgba($color-brown, 1) -4.62965px 7.71792px 0px,
		rgba($color-brown, 1) -5.45689px 7.15698px 0px,
		rgba($color-brown, 1) -6.21682px 6.50777px 0px,
		rgba($color-brown, 1) -6.90009px 5.77831px 0px,
		rgba($color-brown, 1) -7.49825px 4.97757px 0px,
		rgba($color-brown, 1) -8.00394px 4.11545px 0px,
		rgba($color-brown, 1) -8.41092px 3.20258px 0px,
		rgba($color-brown, 1) -8.71416px 2.2502px 0px,
		rgba($color-brown, 1) -8.90993px 1.27008px 0px,
		rgba($color-brown, 1) -8.99582px 0.274291px 0px,
		rgba($color-brown, 1) -8.97076px -0.72488px 0px,
		rgba($color-brown, 1) -8.83507px -1.71511px 0px,
		rgba($color-brown, 1) -8.59041px -2.68419px 0px,
		rgba($color-brown, 1) -8.23981px -3.62017px 0px,
		rgba($color-brown, 1) -7.78758px -4.51149px 0px,
		rgba($color-brown, 1) -7.23931px -5.34718px 0px,
		rgba($color-brown, 1) -6.60176px -6.11692px 0px,
		rgba($color-brown, 1) -5.88279px -6.81122px 0px,
		rgba($color-brown, 1) -5.09127px -7.42152px 0px,
		rgba($color-brown, 1) -4.23696px -7.94029px 0px,
		rgba($color-brown, 1) -3.33039px -8.36113px 0px,
		rgba($color-brown, 1) -2.38275px -8.67885px 0px,
		rgba($color-brown, 1) -1.40572px -8.88954px 0px,
		rgba($color-brown, 1) -0.411357px -8.99059px 0px,
		rgba($color-brown, 1) 0.58808px -8.98077px 0px,
		rgba($color-brown, 1) 1.58026px -8.86018px 0px,
		rgba($color-brown, 1) 2.55296px -8.63032px 0px,
		rgba($color-brown, 1) 3.49417px -8.29402px 0px,
		rgba($color-brown, 1) 4.39229px -7.85543px 0px,
		rgba($color-brown, 1) 5.23623px -7.31996px 0px,
		rgba($color-brown, 1) 6.0156px -6.69422px 0px,
		rgba($color-brown, 1) 6.72078px -5.98591px 0px,
		rgba($color-brown, 1) 7.34307px -5.20378px 0px,
		rgba($color-brown, 1) 7.87479px -4.35748px 0px,
		rgba($color-brown, 1) 8.3094px -3.45743px 0px,
		rgba($color-brown, 1) 8.64153px -2.51474px 0px,
		rgba($color-brown, 1) 8.86709px -1.54104px 0px,
		rgba($color-brown, 1) 8.98328px -0.548328px 0px,
		-11px 11px 0px $color-brown;
}

.section .socials {
	position: relative;
	width: 105%;
	left: -2.5%;

	margin-top: 80px;

	display: flex;
	justify-content: space-between;
	gap: 60px;
}

.section .socials .oneSocial {
	position: relative;
	width: 600px;
	height: auto;

	transition: transform $animation1;
}

.section .socials .oneSocial:hover {
	transform: rotate(-3deg);
}

.section .socials .oneSocial:last-child:hover {
	transform: rotate(3deg);
}

// RWD
@media (max-width: 1000px) {
	.section {
		padding-top: 100px;
	}

	.inside .title {
		font-size: 48px;
	}

	.section .socials {
		flex-wrap: wrap;
	}

	.section .socials .oneSocial:last-child {
		margin-left: auto;
	}
}
